*{
    margin: 0;
   padding: 0;
}
.Night-City{
   width: 30%;
   position:absolute;
   left: 0px;
   height: 100%;
}
.Odin{
    height:100px;
    width: 100px;
}
.Topbox{
    background-color: rgb(203, 145, 236);
    position: absolute;
    right: 30px;
    padding-bottom:-600px;
    width: 1315px;
    height: 200px;
    

}
@font-face{
 font-family: 'heavy_data';
 src: url("C:/Users/Rusty ShackleFurd/Downloads/Odin-project/Sign-up-Sheet/Corrupted File.ttf");   
 font-weight: normal;
 font-style: normal;
}

.Logo{
    font-family: 'heavy_data';
    font-size: 85px;
    opacity: 0.5;
    color:#fff;
    padding-top: 250px;
    padding-left: 100px;
}