.Night-City{
    display:block;
    width: 50%;
    border-radius: 12px;
}

@font-face{
 font-family: 'heavy_data';
 src: url("C:/Users/Rusty ShackleFurd/Downloads/Odin-project/Sign-up-Sheet/Corrupted File.ttf");   
 font-weight: normal;
 font-style: normal;
}

.Logo>p{
    font-family: 'heavy_data';
}